---
const personalImageAlt = "Ramón Martínez"
---

<article class="flex flex-col items-center justify-center gap-8 text-white opacity-80 dark:text-white md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-blue-300 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Soy Ramón Martínez Rodríguez, estudiante de tercer curso del Grado en Diseño y Desarrollo de Videojuegos de la Universidad de Girona (UDG). Estoy ilusionado por<strong
          > empezar mi carrera profesional como programador en el sector del desarrollo web.</strong
        >.
      </p>
  
      <p>
        Mi formación académica y mis proyectos personales demuestran mi capacidad para<strong
          > trabajar en equipo y generar soluciones innovadoras</strong>.
      </p>
  
      <p>
        Me comprometo a seguir<strong
          > aprendiendo y creciendo profesionalmente
          </strong
        >especialmente en áreas como
        <strong>
          el desarrollo web, backend y ciberseguridad,
        </strong>donde tengo un gran iteres y ambición por brillar.
      </p>
    </div>
  
    <img width="200" height="200" src="/Ramon.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 60% 60%">
  
  </article>