---
import { date } from "astro/zod";
import ExperienceItem from "../ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Verano 2022-2023",
    title: "Cajero-Panadero",
    company: "Mercadona, España",
    description:
      "En Mercadona, desarrollé habilidades como el trabajo en equipo, la atención al detalle y la resolución de problemas. Destaco mi capacidad para adaptarme rápidamente y brindar un excelente servicio al cliente. Aunque mi experiencia no está directamente relacionada con la programación, considero que estas habilidades son relevantes y me permiten contribuir de manera efectiva en roles de desarrollo de software/web.",
  },
];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
      </li>
    ))
  }
</ol>
