---
import UK from "../../icons/UK.astro"
import Cat from "../../icons/Cat.astro"
---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="text-white flex flex-row gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mi</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
    </nav>
    <a href="/indexCat"> <Cat class="size-4 md:size-6 ml-10"/></a>
    <a href="/"> <UK class="size-4 md:size-6 ml-2"/></a>
</header>