---
const personalImageAlt = "Ramón Martínez"
---

<article class="flex flex-col items-center justify-center gap-8 text-white opacity-80 dark:text-white md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-blue-300 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
        Soc en Ramón Martínez Rodríguez, estudiant de tercer curs del Grau en Disseny i Desenvolupament de Videojocs de la Universitat de Girona (UDG). Estic il·lusionat per<strong
          > començar la meva carrera professional com a programador en el sector del desenvolupament web.</strong
        >.
      </p>
  
      <p>
        La meva formació acadèmica i els meus projectes personals demostren la meva capacitat per a<strong
          > treballar en equip i generar solucions innovadores</strong>.
      </p>
  
      <p>
        Em comprometo a continuar<strong
          > aprenent i creixent professionalment
          </strong
        >especialment en àrees com
        <strong>
          el desenvolupament web, backend i ciberseguretat,
        </strong>on tinc un gran iteris i ambició per brillar.
      </p>
    </div>
  
    <img width="200" height="200" src="/Ramon.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 60% 60%">
  
  </article>