---
import { date } from "astro/zod";
import ExperienceItem from "../ExperienceItem.astro";

const EXPERIENCE = [
{
    date: "Juny – Setembre 2024",
    title: "Pràctiques, Desenvolupador de Software",
    company: "iEduca (Infosoft Girona)",
    description:"Durant les meves pràctiques, vaig col·laborar en el desenvolupament i millora d'una plataforma de gestió educativa, optimitzant funcionalitats existents i resolent diversos problemes tècnics. Vaig treballar en la implementació de noves característiques, automatització de processos i en la gestió de dades, aplicant principis de desenvolupament net i estructurat per millorar la qualitat del codi i l'eficiència global del sistema.",
    
  },
  {
    date: "Estiu 2022-2023",
    title: "Caixer-Forner",
    company: "Mercadona, Espanya",
    description:
    "Durant aquest període, vaig adquirir habilitats clau com el treball en equip, l’atenció al detall i la resolució de problemes en entorns dinàmics. També vaig desenvolupar una capacitat destacada per adaptar-me ràpidament i oferir una experiència de gran qualitat al client. Aquestes competències, tot i provenir d’un àmbit diferent, són valuoses i aplicables al desenvolupament de programari, especialment pel que fa a la col·laboració, el pensament analític i l’enfocament en la qualitat."
  },
];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
      </li>
    ))
  }
</ol>
