---
import UK from "../../icons/UK.astro"
import Spain from "../../icons/Spain.astro"
---
<header class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-10">
        <a href="#top">Inici</a>
        <a href="#about">Sobre mi</a>
        <a href="#experience">Experiència</a>
        <a href="#projects">Projectes</a>
    </nav>
    <a href="/indexEsp"> <Spain class="size-4 md:size-6 ml-10"/></a>
    <a href="/"> <UK class="size-4 md:size-6 ml-2"/></a>
</header>