---
const personalImageAlt = "Ramón Martínez"
---

<article class="flex flex-col items-center justify-center gap-8 text-white opacity-80 dark:text-white md:flex-row">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-blue-300 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
      <p>
         I'm Ramón Martínez Rodríguez, a third year student in the Video Game Design and Development Degree at the University of Girona (UDG). I am excited to<strong
          > start my professional career as a programmer in the web development sector</strong
        >.
      </p>
  
      <p>
        My academic background and my personal projects demonstrate my ability to<strong
          > work in a team and generate innovative solutions</strong
        >.
      </p>
  
      <p>
        I am committed to continue<strong
          > learning and growing professionally
          </strong
        >especially in areas such as
        <strong>
           web development, backend and cybersecurity,
        </strong>where I have a great iteres and ambition to shine.
      </p>
    </div>
  
    <img width="200" height="200" src="/Ramon.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 60% 60%">
  
  </article>