---
import { date } from "astro/zod";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
{
    date: "June – September 2024",
    title: "Intern, Software Developer",
    company: "iEduca (Infosoft Girona)",
    description:"During my internship, I collaborated in the development and enhancement of an educational management platform, optimizing existing features and solving various technical issues. I worked on implementing new features, automating processes, and managing data, applying clean and structured development principles to improve code quality and the overall efficiency of the system.",
    
  },
  {
    date: "Summer 2022-2023",
    title: "Baker-cashier",
    company: "Mercadona, Spain",
    description:
    "During this period, I acquired key skills such as teamwork, attention to detail, and problem-solving in dynamic environments. I also developed an outstanding ability to adapt quickly and deliver a high-quality customer experience. These competencies, although originating from a different field, are valuable and applicable to software development, particularly in terms of collaboration, analytical thinking, and a focus on quality."
  },
];
---
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    EXPERIENCE.map(experience => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience}/>
      </li>
    ))
  }
</ol>
